<section>
  <div id="counter">
    <span class="counter-value"><%= @counter_value %></span>
    <div><%= link "Increment", to: "#", phx_click: "inc", class: "button" %></div>
  </div>
  <div id="chartdiv" phx-update="ignore" phx-hook="ChartUpdate"></div>
</section>
